<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD iBatis Mapper 3.0 //EN"
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="org.sic.contract.persistence.UserMapper">
	<resultMap id="UserMap" type="User">
		<id property="id"  column="ID"/>
		<id property="userName"  column="USER_NAME"/>
		<id property="companyId"  column="COMANPY_ID"/>
		<id property="password"  column="PASSWORD"/>
		<id property="email"  column="EMAIL"/>
		<id property="phone"  column="PHONE"/>
	</resultMap>
	<insert id="insert" parameterType="User">
		INSERT INTO TBL_USER (
			ID,
			USER_NAME,
			PASSWORD,
			EMAIL,
			PHONE
		)
		VALUES(
			#{id,jdbcType=BIGINT},
			#{userName,jdbcType=VARCHAR},
			#{password,jdbcType=VARCHAR},
			#{email,jdbcType=VARCHAR},
			#{phone,jdbcType=VARCHAR}
		)
	</insert>
	<select id="findById" parameterType="Long" resultMap="UserMap">
		SELECT * FROM TBL_USER WHERE ID = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="findByName" parameterType="String" resultMap="UserMap">
		SELECT * FROM TBL_USER WHERE USER_NAME =  #{userName,jdbcType=VARCHAR}
	</select>
	
	<update id="update" parameterType="User">
		UPDATE TBL_USER
		<set>
			<if test="userName != null">USER_NAME = #{userName,jdbcType=VARCHAR},</if>
			<if test="password != null">PASSWORD = #{password,jdbcType=VARCHAR},</if>
			<if test="email != null">EMAIL = #{email,jdbcType=VARCHAR},</if>
			<if test="phone != null">phone = #{phone,jdbcType=VARCHAR},</if>
		</set>
		WHERE ID = #{id,jdbcType=BIGINT}
	</update>

	<delete id="deleteById" parameterType="String">
		DELETE FROM TBL_USER WHERE ID = #{id,jdbcType=BIGINT}
	</delete>
	
</mapper>